Flask
Jinja2
Werkzeug
markupsafe>=2.0.1
mysql-connector>=2.2.9
Flask_SQLAlchemy>=2.5.1
pymysql>=1.0.2
gunicorn
chromedriver-binary==113.0.5672.127
selenium
webdriver_manager
pytest
urllib3
