Flask
Jinja2
Werkzeug
markupsafe>=2.0.1
mysql-connector>=2.2.9
Flask_SQLAlchemy>=2.5.1
pymysql>=1.0.2
gunicorn
chromedriver-binary==111.0.5563.41.0
pytest==7.2.2
pywin32==305
selenium==4.8.2


